body{
    margin: 0;
    background-image: url(images/pattern-curve.svg);
    background-position: center 46rem;
    background-repeat: no-repeat;
    background-size: 100% 6rem;
    font-family: 'Inter', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
}

.slider-section{
    background-image: url(images/pattern-bg.svg);
    background-position: center 3rem;
    background-repeat: no-repeat;
    background-size: 23rem 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem 0rem 0rem;
}

.slide{
    display: none;
}

.slide.current-slide{
    display: flex;
    justify-content: center;
}

.slide-container img{
    border-radius: 5px;
    box-shadow: 5px 12px 20px rgba(0, 0, 0, 0.363);
    width: 80%;
}

.slider{
    display: flex;
    width: 4rem;
    padding: 1rem;
    gap: 2.4rem;
    border-radius: 25px;
    background-color: white;
    position: relative;
    bottom: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

.text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 5rem;
}

.text{
    display: none;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    padding: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.text p{
    margin-bottom: 0.5em;
    color:hsl(240, 38%, 20%);
}

.show{
    display: flex;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0rem;
    color:hsl(240, 38%, 20%);
}

.detail p{
    color: hsl(240, 18%, 77%);
    margin-bottom: 1em;
}



@media screen and (min-width:1440px) {

    body{
        background-position: 0rem 40rem;
        background-size: 55% 15rem;
    }

    .main{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .slider-section{
        background-size: 100% 90%;
        padding: 5rem;
    }
    
    .slide-container img{
        width: 100%;
    }

    .text-section{
        width: 46.2%;
        margin-right: -10rem;
        background-position: 7rem top;
        background-size: 7rem;
    }

    .text{
        text-align: left;
        font-size: 32px;
        line-height: 2.5rem;
    }

    .detail{
        flex-direction: row;
        gap: 1rem;
        font-size: 22px;
    }

    .slider{
        right: 10rem;
    }
}
